{% extends "CommonBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Expériences{% endblock %}

{% block body %}
<div id="experiences_content" class="clearfix">
	<section class="col-md-7 col-md-offset-1">
		<div class="clearfix style_main-section">
			<h3>Expériences</h3>
			<div>
				<ul id="experiences_list" class="nav">
				  {% for experience in experiences %}
				    <li>
				    <p>{{ experience.description | slice(0, 250)}}...</p>
				    <button class="btn btn-info btn-xs read_next" type="button"><a href="{{ url('public.experience.index', {'id':experience.id}) }}">Lire la suite</a></button>
				    </li>
				  {% endfor %}
				</ul>
			</div>
		</div>
	</section>
{% endblock %}


