{% extends "CommonBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Projet{% endblock %}

{% block body %}
<div id="project_content" class="clearfix">
	<section class="col-md-7 col-md-offset-1">
		<div class="clearfix style_main-section">
			<h3>Présentation</h3>
			<div id="project_text">
				<h4>Titre</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quo accusantium sunt, est dolorem, sequi error saepe? Quam rem assumenda voluptatem necessitatibus quis, non illum voluptatum. Id totam neque eius? <br><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quo accusantium sunt, est dolorem, sequi error saepe? Quam rem assumenda voluptatem necessitatibus quis, non illum voluptatum. Id totam neque eius? </p>
				<h4>Titre</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quo accusantium sunt, est dolorem, sequi error saepe? Quam rem assumenda voluptatem necessitatibus quis, non illum voluptatum. Id totam neque eius? <br><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quo accusantium sunt, est dolorem, sequi error saepe? Quam rem assumenda voluptatem necessitatibus quis, non illum voluptatum. Id totam neque eius?  </p>
			</div>
		</div>
	</section>
{% endblock %}