{% extends "CommonBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Je participe{% endblock %}

{% block body %}
<div id="participate_content" class="clearfix">
	<section class="col-md-7 col-md-offset-1">
		<div class="clearfix style_main-section">
			<h3>Confirmation</h3>
			<div>
				<p>Merci pour votre participation.</p>

				<a href="{{ url('public.homepage.index') }}">Revenir à l'accueil</a>.
			</div>		
		</div>
	</section>
{% endblock %}