    <footer>
      <div class="content_footer col-md-10 col-md-offset-1">
        <p class="legals pull-left">
          <a href="{{ url('public.infospages.mentions') }}">Mentions légales</a> | <a href="{{ url('public.contact.index') }}">Contact</a>
        </p>
        <p class="parterns pull-right">
          Partenaires : <a href="#">Conseil Général</a>
        </p>
      </div>
      
    </footer>
  </div>
</div>