{% extends "::base.html.twig" %}
{% block title %}Go Mobility{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/common/assets/stylesheets/main.css')}}">
{% endblock %}
{% block mainbody %}
   
        <div class="container-fluid main-container">
        {% include 'CommonBundle:CommonBlocks:nav.html.twig' %}
        </header>
        {% block body %}{% endblock %}
        {% include 'CommonBundle:CommonBlocks:sidebar.html.twig' %}
        </div>
        {% include 'CommonBundle:CommonBlocks:footer.html.twig' %}
        {% block javascripts %}
		
		{% endblock %}
    
{% endblock %}