{% extends "CommonBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Actualité{% endblock %}

{% block body %}
<div id="experiences_content" class="clearfix">
    <section class="col-md-7 col-md-offset-1">
        <div class="clearfix style_main-section">
            <h3>Actualité</h3>
            <div>
                <ul id="experiences_list" class="nav">
                  <h4>{{ theActu.titre}}</h4>
                    
                    <p>{{ theActu.texte}}</p>
                    <span>Publié le <b>{{ theActu.date|date('d/m/Y')}}</b></span>
                    </li>
                  
                </ul>
            </div>
        </div>
    </section>
{% endblock %}