{% extends "CommonBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block body %}
<div id="app-mobile_page" class="clearfix">
        
        <section class="col-md-7 col-md-offset-1">
		<div class="clearfix style_main-section">
			<h3>Application-mobile</h3>
                        
			<div class="contain-top">
                            <section class="pres">
                                <h4>Etiam purus mi</h4>
                                <p>
                                      Cras id lectus mi. Integer fermentum consectetur sem, sed laoreet mi venenatis non. Suspendisse ac neque vulputate, fermentum tellus vel, lacinia massa. Integer sit amet faucibus dolor. 
                                </p>
                            </section>    
                        </div>	
                        
		</div>
                
                <div class="clearfix style_main-section">
			
                            <section class="contain-middle">
                                <h4> Duis pulvinar nisi</h4>
                                <p>
                                     Fusce commodo risus sit amet leo blandit, nec tempus quam fringilla. Suspendisse quis pulvinar nisi. Maecenas non lobortis ligula, quis feugiat orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut enim magna. Cras vitae arcu quis erat dictum vulputate id et elit. Vestibulum scelerisque, felis vitae rutrum aliquet, lectus mi tristique nisl, non luctus odio mi sit amet urna. Aenean a risus erat. Morbi id nunc tellus. Phasellus leo orci, molestie cursus iaculis vel, faucibus at nisl. Suspendisse blandit varius ligula eget porttitor. Phasellus sodales sodales sollicitudin. Integer commodo mollis lectus in mattis. 
                                </p>
                                <br>
                                
                                <img src="{{ asset('bundles/common/assets/img/appli_demo_3.jpg')}}" alt="Go Mobility-appli-demo03"  >
                                <img src="{{ asset('bundles/common/assets/img/appli_demo_6.jpg')}}" alt="Go Mobility-appli-demo06" >
                                <img src="{{ asset('bundles/common/assets/img/appli_demo_11.jpg')}}" alt="Go Mobility-appli-demo11" >
                                
                                <br><br>
                                <p>
                                     Fusce commodo risus sit amet leo blandit, nec tempus quam fringilla. Suspendisse quis pulvinar nisi. Maecenas non lobortis ligula, quis feugiat orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut enim magna. Cras vitae arcu quis erat dictum vulputate id et elit. Vestibulum scelerisque, felis vitae rutrum aliquet, lectus mi tristique nisl, non luctus odio mi sit amet urna. Aenean a risus erat. Morbi id nunc tellus. Phasellus leo orci, molestie cursus iaculis vel, faucibus at nisl. Suspendisse blandit varius ligula eget porttitor. Phasellus sodales sodales sollicitudin. Integer commodo mollis lectus in mattis. 
                                </p>
                            </section>   
                        
		</div>
                
                 <div class="clearfix style_main-section">
			
                            <section class="contain-middle">
                                <h4> Maecenas non lobortis</h4>
                                <p>
                                     Fusce commodo risus sit amet leo blandit, nec tempus quam fringilla. Suspendisse quis pulvinar nisi. Maecenas non lobortis ligula, quis feugiat orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut enim magna. Cras vitae arcu quis erat dictum vulputate id et elit. Vestibulum scelerisque, felis vitae rutrum aliquet, lectus mi tristique nisl, non luctus odio mi sit amet urna. Aenean a risus erat. Morbi id nunc tellus. Phasellus leo orci, molestie cursus iaculis vel, faucibus at nisl. Suspendisse blandit varius ligula eget porttitor. Phasellus sodales sodales sollicitudin. Integer commodo mollis lectus in mattis. 
                                </p>
                               
                                <br><br>
                                <a href="#" class="btn-appli">Télécharger l'application</a>
                            </section>
                            
                           
                        
		</div>
            
	</section>
    
  
       
{% endblock %}