{% extends "CommonBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block body %}
<div id="participate_form" class="clearfix">
        
        <section class="col-md-7 col-md-offset-1">
		<div class="clearfix style_main-section">
			<h3>Mentions légales</h3>
			<div>
                            
                            <h5>Juridiction</h5>
                            <p>
                                Le site http://www.gomobility.fr/ et les présentes conditions d'utilisation sont soumis aux dispositions du droit français.
                            </p>
                            
                            <h5>Droit de propriété intellectuelle</h5>
                            <p>
                                Ce site est soumis à la législation sur la propriété intellectuelle (articles L. 111.1 et suivants du Code de la Propriété Intellectuelle). Les contenus, photographies, visuels et la charte graphique sont la propriété du groupe PARCOURS.
                                L'utilisation, en particulier à des fins commerciales et publicitaires, de capture d'écrans, d'images et de textes contenus dans ce site est interdit sans autorisation écrite du groupe PARCOURS.
                            </p>
                            
                            <h5>Produits et services PARCOURS</h5>
                            <p>
                                Ce site est une présentation des produits et services proposés par le groupe PARCOURS et ses filiales. La description qui en est faite dans ce site peut faire l'objet de modifications et est donnée à titre d'information. Chaque agence et filiale du groupe PARCOURS ne commercialise pas l'intégralité de l'offre.
                            </p>
                            
                            <h5>Liens hypertextes</h5>
                            <p>
                                Ce site contient des liens vers d'autres sites. Le groupe PARCOURS n'est pas responsable des informations et contenus des sites pour lesquels un lien est proposé. Ces liens sont proposés dans un but d'information de l'internaute sur des sites pouvant avoir un rapport à l'utilisation de l'automobile.

                            </p>
                            
                            <h5>Données personnelles</h5>
                            <p>
                                Ce site n'installe pas de cookies.<br>

                                Certaines rubriques font appel à des formulaires recueillant des données personnelles permettant aux agences et filiales du groupe PARCOURS d'entrer en contact suite à la demande d'un internaute. Les informations recueillies sont celles nécessaires pour répondre à la demande d'un internaute et pour adresser des messages d'information par Email.

                                Ces données sont conservées sur le serveur hébergeant le site et sont utilisables exclusivement par le groupe PARCOURS et ses filiales.

                                Concernant l'abonnement à la newsletter, vous disposez sur le site de la fonctionnalité de désabonnement.

                                Conformément à l'article 34 de la Loi Informatique et Liberté, vous disposez du droit de modification et de suppression des données vous concernant en contactant PARCOURS par email à l'adresse suivante : marketing@parcours.fr.n de commande auprès de l'agence PARCOURS détenant le véhicule reste la modalité en vigueur concernant la commercialisation des véhicules d'occasion.

                                
                            </p>
                            
                             <h5>Recrutement</h5>
                            <p>
                               Ce site propose une rubrique Recrutement décrivant les métiers PARCOURS et proposant des postes pour le groupe PARCOURS, ses agences et filiales.
                               PARCOURS s'efforce d'actualiser rapidement la rubrique en proposant des postes, mais ceux-ci sont diffusés sur le site à titre d'information. Le fait de répondre en ligne à une offre permet de faire acte de candidature au même titre que les candidatures reçues par courrier. Le groupe PARCOURS pourra diffuser auprès de ses agences et filiales toutes les candidatures et se réserve le droit de conserver les données pour une autre offre de poste que celle à laquelle l'internaute a répondu.
                               Conformément à l'article 34 de la Loi Informatique et Liberté, vous disposez du droit de modification et de suppression des données vous concernant en contactant PARCOURS par email à l'adresse suivante : recrutement@parcours.fr.
                            </p>
                           
                            








			</div>		
		</div>
	</section>
    
    
       
{% endblock %}